#AboutMe{
    min-height: 100vh;
}

.SillyPictureBackground{
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: color-mix(in srgb, var(--PrimaryColor), transparent 25%);
    backdrop-filter: blur(.25rem);
    border: 1px solid color-mix(in srgb, var(--PrimaryColor), transparent 0%);
    width: fit-content;
    max-height: 50%;
}

.SillyPictureBackground img{
    max-height: 35vh;
    max-width: 50vw;
    border-radius: 1rem;
    object-fit: cover;
}

.Horizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    min-height: calc(100vh - var(--NavHeightBig));
    margin-top: var(--NavHeightBig);
    padding: 5%;
}

.Vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 5rem;
}

.SillyTextBox{
    position: relative;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: color-mix(in srgb, var(--PrimaryColor), transparent 25%);
    backdrop-filter: blur(.25rem);
    border: 1px solid color-mix(in srgb, var(--PrimaryColor), transparent 0%);
    width: 100%;
    height: fit-content;
    font-size: 2.4rem;
    text-align: center;
}

#AboutMe h1{
    font-size: 6.4rem;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-wrap: nowrap;
}

@media only screen and (min-width: 1600px) {
    .Horizontal{
        flex-direction: row;
    }

    .SillyPictureBackground img{
        max-width: 30vw;
    }
}