#Welcome{
    width: 100%;
    height: 100vh;
    background-color: var(--PrimaryColor);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: transparent;
    padding: 8rem;
}

.BackgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
img.BackgroundImage{
    object-fit: cover;
    filter: blur(.8rem) brightness(75%);
}

h1{
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

#Welcome h2{
    font-size: 4rem;
}

#Welcome h1{
    font-size: 8rem;
    margin: 0;
}

#Projects{
    width: 100%;
    padding-top: 5rem; 
    padding-bottom: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .5rem solid var(--AccentColor);
    border-bottom: .5rem solid var(--AccentColor);
}

.ProjectsContainer{
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content;
    justify-content: space-evenly; 
    width: 100%;
    gap: 5rem;
}

.ProjectsContainer .ProjectImage{
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    transition: all var(--DefaultTransitionTime) ease-in-out;
    overflow: hidden;
}

.ProjectsContainer h1{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--TextColor);
    pointer-events: none;
}

.ProjectsContainer a:hover .ProjectImage{
    transform: scale(1.05);
}
.ProjectsContainer a:hover .HiddenUntilHover{
    opacity: 1;
}

.ProjectBackground{
    position: relative;
    color: var(--TextColor);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    background-color: var(--PrimaryColor);
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
    background: linear-gradient(0deg,rgba(52, 57, 60, 1) 85%, rgba(67, 90, 104, 1) 100%);
    border-radius: 1rem;
}

.ProjectBackground h2{
    margin-bottom: 2.5rem;
    font-size: 2.0rem;
}

.HiddenUntilHover{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 1rem;
    opacity: 0;
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.5);
    transition: opacity var(--DefaultTransitionTime) ease-in-out;
}

.HiddenUntilHover .ProjectPlatforms{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.HiddenUntilHover img{
    width: 5rem;
    height: 5rem;
}

.HiddenUntilHover .ProjectEngineIcon{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.HiddenUntilHover #TengineIcon{
    width: auto;
}

.HiddenUntilHover h3{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
}

@media only screen and (min-width: 1000px) {
    .ProjectsContainer {
        grid-template-columns: repeat(2, max-content);
    }

    .ProjectsContainer .ProjectImage{
        width: 40rem;
        height: 40rem;
    }
    .ProjectBackground h2{
        font-size: 2.8rem;
    }
    .HiddenUntilHover h3{
        font-size: 2.4rem;
    }
}