:root{
    --NavHeight: 7.5rem;

    --PrimaryColor:   #435a68;
    --SecondaryColor: #34393c;
    --AccentColor:    #6a6f8d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: var(--PrimaryColor);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.NavBar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--SecondaryColor);
    padding: 0 1rem;
    text-align: center;
    width: 100%;
    height: var(--NavHeight);
    display: flex;
    justify-content: space-between;
}

.NavBar h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.6rem;
}

.NavBar * {
    margin: auto 0;
}

.NavBarContainer a {
    color: white;
    text-decoration: none;
    margin: auto .5rem;
    font-weight: bold;
    font-size: 2.4rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    transition: all .3s ease;
}

.NavBar div:last-of-type a{
    font-size: 3.2rem;
    margin: auto .5rem;
    padding: .5rem;
}
.NavBarContainer a:hover{
    background-color: var(--AccentColor);
}

#Welcome{
    width: 100%;
    height: calc(100vh - var(--NavHeight));
    background-color: var(--PrimaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

#Welcome h2{
    font-size: 2.4rem;
}

#Projects{
    width: 100%;
    padding-top: var(--NavHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    container: projects / size;
}

.ProjectsContainer{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}



.ProjectsContainer img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    transition: all .3s ease-in-out;
}

.ProjectsContainer a {
    width: 60%;
    padding: 1rem;
}

.ProjectsContainer h1{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    pointer-events: none;
}

.ProjectsContainer a:hover img{
    transform: scale(1.1);
    box-shadow: 0 0 3rem rgba(0,0,0,1);
}

@container projects (width > 105rem) {
    .ProjectsContainer{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .ProjectsContainer img {
        width: 40rem;
        margin: 2.5rem;
    }

    .ProjectsContainer a {
        position: relative;
        width: auto;
        padding: 0;
    }

    .ProjectsContainer a:nth-child(2n - 1){
        margin-bottom: -55rem;
    }
}
@container projects (width > 140rem) {
    .ProjectsContainer{
        width: 140rem;
    }
}