:root{
    --NavHeight: 7.5rem;

    --PrimaryColor: #3b5260;
    --SecondaryColor: #34393c;
    --AccentColor: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: slategray;
}

.NavBar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: var(--SecondaryColor);
    color: white;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
    height: var(--NavHeight);
    display: flex;
    justify-content: space-between;
}

.NavBar h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.6rem;
}

.NavBar * {
    margin: auto 0;
}

.NavBarContainer a {
    color: white;
    text-decoration: none;
    margin: auto .5rem;
    font-weight: bold;
    font-size: 2.4rem;
    padding: 1rem 1.5rem;
}

.NavBar div:last-of-type a{
    font-size: 3.2rem;
    margin: auto .5rem;
    padding: .5rem;
}
.NavBarContainer a:hover{
    background-color: slategray;
    border-radius: .5rem;
}

#Welcome{
    width: 100%;
    height: calc(100vh - var(--NavHeight));
    background-color: var(--PrimaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Welcome h1{
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

#Welcome h2{
    font-size: 2.4rem;
}



.longTest{
    width: 100%;
    height: 400vh;
    background-color: red;
}